
#encabezado {
    border-radius: 3px;
    background-color:antiquewhite;
}

#portada{
    display: flex;
    justify-content: space-between;
}

#aco{
    display: flex;
    padding-left: 0%;
    margin-top: 2%;
    background-color: antiquewhite;
    border-top: antiquewhite;
    border-left: antiquewhite;
    border-right: antiquewhite;
    border-bottom: antiquewhite;
    justify-content: space-around;
}

#pie{
    border-radius: 3px;
    background-color:antiquewhite;
 
}

#derecha{
    float: right;
    width: 100px;
    
    background-color: antiquewhite;
}

#izquierda{
    float: left;
    width: 200px;
    background-color: antiquewhite;
}

.centrar{
    text-align:center ;
}

.fuente{
    font-size: 14pt;
    color: black;
}